<h2>Seu Boleto</h2>

if payment_intent.next_action&.boleto_display_details
boleto_url = payment_intent.next_action.boleto_display_details[:hosted_voucher_url]
redirect_to boleto_url
else
redirect_to orders_path, alert: "Erro ao gerar boleto. Tente novamente."
end